body
{
	background-color:white;
}

.idea
{
	border-style:solid;
	border-color:gray;
	border-width:1px;
	padding:1%;
	margin-bottom:1%;
}

.ideaDescription
{
	color:gray;
}

.ideaBoxForm
{
	border-style:solid;
	border-color:black;
	border-width:1px;
	padding:5%;
}

.custom-nav
{
	list-style-type:none;
}

li
{
	display:inline;
	padding:1%;

}
li:hover
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:teal;
}

.footer
{
	float:bottom;
}

a:link
{
	color:teal;
	text-decoration:none;
}
a:visited
{
	color:teal;
}

a:hover
{
	color:black;
}
a:active
{
	color:silver;
}
