<div class = 'row'>
	<div class = 'col-md-12'>
		<p class = 'lead'>Edit your idea.</p>
		<div class = 'center'>
			<%= erb :form, :locals => { idea: @idea, id: @id, mode: 'edit', groups: @groups } %>
		</div>

	</div>
</div>
