<html>
	<head>
		<title>Idea Box</title>
		<link rel = 'stylesheet' type = 'text/css' href = '/bootstrap/css/bootstrap.min.css'/>
		<link rel = 'stylesheet' type = 'text/css' href = '/bootstrap/css/bootstrap-theme.min.css'/>
		<link rel = 'stylesheet' type = 'text/css' href = '/styles/generic.css'/>
	</head>

	<body>
		<%= yield %>
	</body>


</html>
