<html>
	<head>
		<title>Idea Box</title>
		<link rel = 'stylesheet' type = 'text/css' href = '/bootstrap/css/bootstrap.min.css'/>
		<link rel = 'stylesheet' type = 'text/css' href = '/bootstrap/css/bootstrap-theme.min.css'/>
		<link rel = 'stylesheet' type = 'text/css' href = '/styles/generic.css'/>
	</head>

	<body>
		<div class = 'container'>
			<div class = 'row'>
				<div class = 'col-md-12'> 
					<div class = 'page-header'>

						<h1> <a href = '/'>IdeaBox</a> <small>Recording your ideas.</small></h1>
						<div class = 'text-right'>
							<ul class = 'custom-nav'>
								<form action = '/ideas/search'>
									<div class = 'form-group'>
										<label>Search : </label>
										<input class = 'form-control custom-fc' type = 'text' name = 'content' placeholder = 'Search'/>
										<button class = 'btn btn-default' type = 'submit'>Submit</button>
									</div>
								</form>
								<a href = '/ideas/new'><li>New Idea</li></a>
								<a href = '/groups/new'><li>New Group</li></a>
							</ul>
						</div> 

					</div>
				</div>
			</div>
			
			<%= yield %>
		
			
		</div>
		<div class = 'footer'>
			<div class = 'container'>
				<p>IdeaBox application is just a tutorial project to learn ruby sinatra framework and bootstrap.</p>
			</div>
		</div>
		<script type = 'text/javascript' src = '/bootstrap/js/bootstrap.js'></script>

	</body>


</html>
