%html
  %head
    %title Idea Box
    %link{rel: 'stylesheet', type: 'text/css', href: '/bootstrap/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/bootstrap/css/bootstrap-theme.min.css'}
    %link{rel: 'stylesheet', type:'text/css', href: '/styles/generic.css'}

  %body

    .container
      .row
        .col-md-12
          .page-header
            - if session[:notice]
              %h3.label.label-info
                = session[:notice]
                - session[:notice] = nil
            %h1
              %a{href: '/'}
                IdeaBox
              %small
                Recording your ideas
            .text-right
              %ul.custom-nav
                %form{action: '/ideas/search'}
                  .form-group
                    %label
                      Search :
                    %input.form-control.custom-fc{type: 'text', name: 'content', placeholder: 'search'}
                    %button.btn.btn-default{type: 'submit'}
                      Submit
                %a{href: '/ideas/new'}
                  %li New Idea
                %a{href: '/groups/new'}
                  %li New Group
                - if session[:user]
                  %a{href: '/logout'}
                    %li Logout

      = yield 

      .footer
        .conatiner
          %p IdeaBox Application is a tutorial project to learn ruby sinatra framework.

  %script{type: 'text-javascript', src: '/bootstrap/js/bootstrap.js'}

    Test
		
