<div class = 'row'>
	<div class = 'col-md-12'>
		
		<p class = 'lead'>
			Add your group here. It's simple, just give it a name.
		</p>

		<form role = 'form' action = '/groups' method = 'POST'>

			<div class = 'form-group'>
				<label> Group Name : </label>
				<input class = 'form-control' type = 'text' name = 'groupName'/>
			</div>

			<button class = 'btn btn-default' type = 'submit'>Submit</button>
		</form>
	</div>
</div>



